@import "~bulma/sass/utilities/initial-variables"

// Config vars
$body-size: 18px;

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

.relative
  position: relative;

.hero
  margin-bottom: 20px;

.box.is-primary
  color: $primary-invert;
  background-color: $primary;

.box.is-primary .title,
.box.is-primary .subtitle
  color: $primary-invert;